<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FUC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <servlet-class>chat.ChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chat2SubmitServlet</servlet-name>
    <servlet-class>chat2.Chat2SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chat2SubmitServlet</servlet-name>
    <url-pattern>/chat2SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chat2ListServlet</servlet-name>
    <servlet-class>chat2.Chat2ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chat2ListServlet</servlet-name>
    <url-pattern>/chat2ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RChatSubmitServlet</servlet-name>
    <servlet-class>rchat.RChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RChatSubmitServlet</servlet-name>
    <url-pattern>/rchatSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RgChatListServlet</servlet-name>
    <servlet-class>rchat.RgChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RgChatListServlet</servlet-name>
    <url-pattern>/rgchatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RChatUnreadServlet</servlet-name>
    <servlet-class>rchat.RChatUnreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RChatUnreadServlet</servlet-name>
    <url-pattern>/rchatUnread</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RChatBoxServlet</servlet-name>
    <servlet-class>rchat.RChatBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RChatBoxServlet</servlet-name>
    <url-pattern>/rchatBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>user.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>board.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>board.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/boardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardReplyServlet</servlet-name>
    <servlet-class>board.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReplyServlet</servlet-name>
    <url-pattern>/boardReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommunityWriteServlet</servlet-name>
    <servlet-class>community.CommunityWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityWriteServlet</servlet-name>
    <url-pattern>/communityWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommunityUpdateServlet</servlet-name>
    <servlet-class>community.CommunityUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityUpdateServlet</servlet-name>
    <url-pattern>/communityUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommunityDeleteServlet</servlet-name>
    <servlet-class>community.CommunityDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityDeleteServlet</servlet-name>
    <url-pattern>/communityDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommunityReplyServlet</servlet-name>
    <servlet-class>community.CommunityReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityReplyServlet</servlet-name>
    <url-pattern>/communityReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobsWriteServlet</servlet-name>
    <servlet-class>jobs.JobsWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsWriteServlet</servlet-name>
    <url-pattern>/jobsWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobsUpdateServlet</servlet-name>
    <servlet-class>jobs.JobsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsUpdateServlet</servlet-name>
    <url-pattern>/jobsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobsDeleteServlet</servlet-name>
    <servlet-class>jobs.JobsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsDeleteServlet</servlet-name>
    <url-pattern>/jobsDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobsReplyServlet</servlet-name>
    <servlet-class>jobs.JobsReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsReplyServlet</servlet-name>
    <url-pattern>/jobsReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TipWriteServlet</servlet-name>
    <servlet-class>tip.TipWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipWriteServlet</servlet-name>
    <url-pattern>/tipWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TipUpdateServlet</servlet-name>
    <servlet-class>tip.TipUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipUpdateServlet</servlet-name>
    <url-pattern>/tipUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TipDeleteServlet</servlet-name>
    <servlet-class>tip.TipDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipDeleteServlet</servlet-name>
    <url-pattern>/tipDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TipReplyServlet</servlet-name>
    <servlet-class>tip.TipReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipReplyServlet</servlet-name>
    <url-pattern>/tipReply</url-pattern>
  </servlet-mapping>
</web-app>